@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	color: #000;
	background: #fff;
}

html[data-color-scheme='dark'],
html[data-color-scheme='dark'] body {
	color: #fff;
	background: #000;
}
